<header id="pageHeader" class="headerFixer">
    <!-- hdTopBar -->
    <div class="hdTopBar bg-dark position-relative">
        <div class="container">
            <div class="row">
                <div class="col-9 d-none d-md-flex align-items-center">
                    <!-- hdScheduleList -->
                    <ul class="list-unstyled d-flex mb-0 hdScheduleList fwMedium fontAlter mb-0">
                        <li>
                            <span class="icnWrap rounded d-flex align-items-center justify-content-center text-white flex-shrink-0 mr-1 mr-lg-3">
                                <i class="bx bx-support"><span class="sr-only">icon</span></i>
                            </span>
                            <div class="descrWrap">
                                <p><a href="tel:+00123456789" class="text-white">+1 (829) 994-1111</a></p>
                            </div>
                        </li>
                        <!-- <li>
                            <span class="icnWrap rounded d-flex align-items-center justify-content-center text-white flex-shrink-0 mr-1 mr-lg-3">
                                <i class="bx bx-at"><span class="sr-only">icon</span></i>
                            </span>
                            <div class="descrWrap">
                                <strong class="title d-block fwMedium text-white">Email Us:</strong>
                                <p><a href="mailto:Mail@Example.com">Mail@Example.com</a></p>
                            </div>
                        </li> -->
                        <!-- <li>
                            <span class="icnWrap rounded d-flex align-items-center justify-content-center text-white flex-shrink-0 mr-1 mr-lg-3">
                                <i class="bx bxs-map"><span class="sr-only">icon</span></i>
                            </span>
                            <div class="descrWrap">
                                <strong class="title d-block fwMedium text-white">Visit Us:</strong>
                                <p>7 King Street, London</p>
                            </div>
                        </li> -->
                    </ul>
                </div>
                <div class="col-12 col-md-3 d-md-flex justify-content-md-end position-static">
                    <!-- hdBtn -->
                    <!-- <a href="javascript:void(0);" class="hdBtn d-flex align-items-center justify-content-center fwMedium fontAlter">Donaciones <i class="bx bx-right-arrow-alt icn ml-1"><span class="sr-only">icon</span></i></a> -->
                </div>
            </div>
        </div>
    </div>
    <!-- hdHolder -->
    <div class="hdHolder clearfix pt-2 pb-2 pt-lg-5 pb-lg-5 position-relative">
        <div class="container">
            <!-- logo -->
            <div class="logo">
                <a href="home-1.html">
                    <img src="src/img/logo_recortada_ong.png" class="img-fluid" alt="Fundacion Filipenses 4:13">
                </a>
            </div>
            <!-- pageNav -->
            <nav id="pageNav" class="navbar navbar-expand-md navbar-light justify-content-end position-static">
                <!-- pageMainNavCollapse -->
                <div class="collapse navbar-collapse pageMainNavCollapse justify-content-end" id="pageMainNavCollapse">
                    <!-- mainNavigation -->
                    <ul class="navbar-nav mainNavigation fwSemi fontAlter">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#scrollto2">Sobre Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#scrollto3">Misiones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/blogs">Blogs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/events">Eventos</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="#scrollto4">Testimonios</a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link" href="#scrollto5">Cont&aacute;ctanos</a>
                        </li>
                    </ul>
                </div>
                <!-- pageNavOpener -->
                <button class="navbar-toggler pageNavOpener position-relative" type="button" data-toggle="collapse" data-target="#pageMainNavCollapse" aria-controls="pageMainNavCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><span class="sr-only">menu</span></span>
                </button>
            </nav>
        </div>
    </div>
</header>